// This comment enabes SCSS compilation

@import url('https://rsms.me/inter/inter.css');

$primary-color: #00d67f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // height: 100%;
    // overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #222224;
    color: #f0f0f0;

    ::selection {
        color: white;
        background-color: transparentize($primary-color, .25);
    }
}

main {
    position: relative;
    max-width: 890px;
    margin: 40px auto;
    padding: 32px 80px;
}

h1 {
    font-size: 120px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 32px;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 32px;
}

span {
    color: $primary-color;
}

img {
    position: absolute;
    width: 320px;
    right: 0;
    top: 0;
    opacity: .6;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}

p {
    color: #a0a0a0;
    font-size: 18px;
    line-height: 1.6em;

    &:not(:last-of-type) {
        margin-bottom: 32px;
    }
}

small {
    color: #a0a0a0;
    font-size: 14px;

    a {
        color: inherit;

        &::after {
            background-color: currentColor;
        }
    }
}

a {
    position: relative;
    color: white;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: white;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: opacity .2s ease, transform .2s ease;
    }

    &:focus,
    &:hover {
        outline: none;

        &:after {
            opacity: 1;
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 80px;
        margin-top: 32px;
    }

    img {
        width: 240px;
        right: 80px;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 32px;
    }

    h1 {
        font-size: 48px;
        margin-top: 120px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    small {
        font-size: 12px;
    }

    img {
        width: 200px;
        right: 50%;
        transform: translateX(50%);
    }
}
